*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body text 1 */
body
{
  font-size: 25px;
  height: 100vh;
  width: 100vw;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 
              -1px -1px 0 black,
               1px -1px 0 black,
              -1px  1px 0 black,
               1px  1px 0 black;
}

/* Background image */
#weather
{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 25px;
  background-image: url("images/city.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  Overflow: hidden;
}

/* Background opacity */
#weather::before 
{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 16px;
  z-index: 1;
}

/* Setting the body text to no opacity*/
#weather > * 
{
  position: relative;
  z-index: 2;
}

/* Title text */
#weather_title
{
  font-family: 'Silkscreen';
  font-size: 45px;
  width: 40px;
  text-align: center;
  width: 500px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  Opacity: 100%
}

/*Extra details*/
.weather
{ 
  font-family: "Poiret One";
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  letter-spacing: 2px;
  line-height: 1.6; 
  Opacity: 100%
}

