*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body
  {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
/* Weather card with background image */
#weather-card 
{
    width: 500px;
    padding: 25px;
    background-image: url("images/city.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  }

  #weather_title
  {
    font-family: 'Silkscreen';
    font-size: 30px;
    width: 40px;
    text-align: center;
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .weather
  {
    font-family: "Poiret One";
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    letter-spacing: 2px;
    line-height: 1.6; 
  }
